@import "../../global.css";

.topbar {
  width: 100%;
  height: 70px;
  background-color: #fff;
  color: var(--main-color);
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
} 
.wrapper {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .left {
  display: flex;
  align-items: center;
}
.wrapper .left .logo {
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  margin-right: 40px;
}
.left .itemContainer {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.left .itemContainer .icon {
  font-size: 18px;
  margin-right: 5px;
}

.left .itemContainer .icon span {
  font-size: 15px;
  font-weight: 500;
}

/* .right {
} */
.right .hamburger {
  width: 32px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.right .hamburger span {
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  transform-origin: left;
  transition: all 2s ease;
}

.active {
  background-color: var(--main-color);
  color: #fff;
}
.active .right .hamburger span:first-child {
  background-color: #fff;
  transform: rotate(45deg);
}
.active .right .hamburger span:nth-child(2) {
  opacity: 0;
}
.active .right .hamburger span:last-child {
  background-color: #fff;
  transform: rotate(-45deg);
}
