@media screen and (min-width: 425px) {
  .left {
    min-width: 400px;
    bottom: 45px;
    position: absolute;
    z-index: 1;
  }
  .right {
    min-width: 400px;
    height: 400px;
    bottom: 70px;
    position: absolute;
  }
  .heroImage {
    width: 400px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .home {
    flex-direction: row;
  }
  .left {
    max-width: 30%;
    max-height: 500px;
    min-height: 200px;
    bottom: 45px;
    position: relative;
    z-index: 1;
    margin-left: 20%;
    background: crimson;
  }
  .right {
    max-width: 50%;
    max-height: 500px;
    height: 500px;
    bottom: 0px;
    position: relative;
    border: none;
  }
  .heroImage {
    max-width: 500px;
    max-height: 500px;
  }
  .divContent {
    margin-left: 40px;
    margin-right: 40px;
  }
  .divContent h2 {
    font-size: 40px;
  }
}

@media screen and (min-width: 991px) {
  .right {
    max-height: 800px;
    height: 350px;
    bottom: 0px;
    background-color: blueviolet;
    margin-left: 1%;
  }
  .left {
    bottom: 0;
  }
  .heroImage {
    max-width: 700px;
    max-height: 700px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1122px) {
  .right {
    max-height: 800px;
    height: 400px;
    background-color: blueviolet;
    margin-left: 10%;
  }
}
